@import "./styles/index.scss";

.header {
  background-color: #a4c991;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-bar-item {
  display: flex;
  list-style-type: none;
  gap: 20px;
  position: relative;
  right: 20px;
  color: white;
  text-decoration: none;
}

.layout-container {
  min-height: 100vh;
}

.logo {
  @include for-phone-only {
    width: 120px;
  }
}
